@font-face {
  font-family: "Arial-MT";
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.player {
  /* display: inline-block; */
  width: 300px;
  margin-left: 25px;
  padding: 25px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.497);
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.minimize {
  display: flex;
  justify-content: right;
}

.minimize_btn {
  cursor: pointer;
  width: 16px;
}
.cover {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-position: center;
  box-shadow: 10px black;
  border-radius: 10px;
}

.cover_hidden {
  max-height: 0;
}
.song {
  display: flex;
  justify-content: center;
  margin-top: 17.5px;
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.progress_container {
  display: flex;
  align-content: center;
  margin-top: 17.5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

.progress {
  width: 25%;
  height: 5px;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
}
.play_time {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;
  font-weight: 500;
}

.current,
.whole {
  font-size: 13px;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 14px;
  max-width: 260px;
}

.play,
.play-prev,
.play-next,
.volume_btn,
.playlist_btn {
  width: 30px;
  cursor: pointer;
}

.play:hover,
.play-prev:hover,
.play-next:hover,
.volume_btn:hover,
.playlist_btn:hover,
.minimize_btn:hover {
  transition: 300ms;
  scale: 1.1;
}

.progress:hover,
.progress_container:hover {
  transform: scaleY(1.3);
  border-radius: 7.5px;
  transition: 300ms;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: "Arial-MT";
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
