*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  transition-duration: 200ms;
  color: #e06733;
}

html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: black;
}

._wrapper {
  max-width: 100%;
  min-width: 1440px;
}

._container {
  max-width: 1222px;
  margin: 0 auto;
}

.header {
  height: 134px;
  background-color: #edf2ec;
}

.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 42px;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  margin-bottom: 10px;
  margin-left: 4.4px;
}

.nav_list {
  display: flex;
  flex-wrap: wrap;
}
span.home {
  color: #e06733;
}
.nav_item:not(:last-child) {
  margin-right: 46.2px;
}

.nav_link {
  font-family: Inika;
  font-weight: 400;
  line-height: 50px;
  color: #010201;
}

.welcome {
  height: 532px;
  background-color: #edf2ec;
}

.welcome_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.welcome_picture {
  margin-top: 53px;
  margin-left: -5px;
}

.welcome_info {
  display: block;
  width: 547px;
  height: 340px;
  margin-top: 98px;
}
.info_heading {
  margin-left: 1.4px;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
}

span.plants {
  color: #499a18;
}

.info_text {
  margin-top: 44px;
  margin-left: 2px;
  margin-bottom: 48px;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
}

.learn-more_button {
  padding: 10px 27px;
  border: 2px solid #e06733;
  border-radius: 10px;
  line-height: 20px;
}

.learn-more_button:hover {
  background-color: #e06733;
  color: #fff;
  transition-duration: 200ms;
}

.about {
  height: 666px;
  background-color: #fff;
}

.about_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about_info {
  display: block;
  width: 605px;
  height: 350px;
  margin-top: 160px;
  padding-left: 3px;
}
.about_heading {
  font-family: "Inika";
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  color: #499a18;
}

span.professional {
  color: #e06733;
}

.about_text {
  margin-top: 39.5px;
  font-size: 20.1px;
  line-height: 30px;
  color: #636060;
}

.about_picture {
  margin-top: 93px;
  margin-right: -4px;
}

.service {
  height: 1300px;
  background-color: #edf2ec;
}

.service_buttons {
  display: flex;
  flex-wrap: wrap;
  width: 1007px;
  height: 94px;
  padding-top: 40px;
  justify-content: space-between;
  align-items: center;
}

.service_heading {
  width: 306px;
  height: 94px;
  padding-left: 2px;
  font-family: "Inika";
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  color: #499a18;
}

.service_list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 14.5px;
  justify-content: space-between;
}

.service_list-button {
  border: 1px solid #e06733;
  border-radius: 5px;
  font-family: Inika;
  font-size: 20px;
  line-height: 26px;
  color: #e06733;
}

.service_list-button:hover {
  transition-duration: 200ms;
  background-color: #e06733;
  color: #fff;
}

.service_list-item:not(:last-child) {
  margin-right: 37.49px;
}

.gardens,
.planting {
  padding: 12px 40px;
}

.planting {
  padding-right: 38px;
}
.gardens {
  padding-right: 43px;
}

.lawn {
  padding: 12px 54px;
}

.gallery {
  display: grid;
  height: 955px;
  margin-top: 128px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 55px;
  column-gap: 116.7px;
}

.card {
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}

.gallery_image {
  width: 329px;
  height: 350px;
  border-radius: 20px 20px 0px 0px;
}

.image_heading {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #e06733;
}

.image_text {
  margin-top: 13.6px;
  text-align: center;
  line-height: 20px;
}

.prices {
  height: 518px;
  background-color: #fff;
}

.prices_wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 405px;
  margin-top: 40px;
  justify-content: space-between;
}

.prices_left-column {
  width: 332px;
  height: 391.01px;
}

.prices_left-column-heading {
  margin-left: 4px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

.price_menu-wrapper-outer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 332px;
  height: 282.01px;
  margin-top: 60px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}
.price_menu-wrapper-inner {
  width: 250px;
  height: 214.01px;
  margin: 34px 41px;
}
.price_menu-tab {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  height: 50px;
  margin-bottom: 32px;
  border-radius: 20px;
  align-items: center;
  justify-content: space-between;
  background: #edf2ec;
}

.price_menu-arrow {
  margin-right: 40px;
}

.price_menu-tab-title {
  margin-left: 43px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.prices_right-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 452px;
  height: 405px;
}
.prices_right-column-heading {
  width: 452px;
  height: 103px;
  margin-left: 4px;
  text-align: right;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

span.gardeners {
  color: #499a18;
}

.contact_us-button {
  width: 162px;
  height: 50px;
  text-align: center;
  margin-top: 37px;
  margin-left: 293px;
  border: 1px solid #e06733;
  border-radius: 5px;
  font-family: Inika;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  background-color: #fff;
  color: #e06733;
}

.contact_us-button:hover {
  background-color: #e06733;
  color: #fff;
  transition-duration: 200ms;
}

img.leafs_small {
  margin-top: 39px;
  margin-left: 300px;
  height: 174.991597235703px;
  width: 151.99965524675463px;
}

.contacts {
  height: 550px;
  background-color: #edf2ec;
}

.contacts_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.woman_picture {
  margin-top: 53px;
  margin-left: 4px;
}

.contact_us {
  margin-top: 60px;
  margin-left: 48px;
  font-family: "Inika";
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #499a18;
}

.city_menu {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  height: 50px;
  margin-top: 148px;
  margin-right: -4px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #d6e7d2;
}

.city_menu-title {
  padding-left: 20px;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
}

.city_menu-arrow {
  padding-right: 35px;
}

.footer {
  height: 130px;
  background-color: #fff;
}

.footer_wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 39.3px;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  display: flex;
  width: 172px;
  height: 50px;
  justify-content: space-between;
}

.copyright,
.school,
.github_link {
  font-size: 20px;
  line-height: 50px;
}

a.school {
  margin-left: 16px;
}

.social_list {
  display: flex;
  flex-wrap: wrap;
  width: 181px;
  height: 47px;
  padding-top: 10px;
  justify-content: space-between;
}

.social_logo:hover {
  transition-duration: 50ms;
  transform: scale(1.1);
  filter: invert(54%) sepia(50%) saturate(2998%) hue-rotate(339deg)
    brightness(91%) contrast(91%);
}
