html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}

.wrapper {
  max-width: 100%;
  min-width: 1440px;
}

.container {
  margin: 0 109px;
}

.header {
  height: 134px;
  background-color: #edf2ec;
}

.header_wrapper {
  margin: 0 auto;
  max-width: 1222px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 42px;
}

.header_logo {
  margin-bottom: 10px;
  margin-left: 4.4px;
}

.nav_list {
  display: flex;
  flex-wrap: wrap;
}
span.home {
  color: #e06733;
}
.nav_item:not(:last-child) {
  margin-right: 46.2px;
}

.nav_item:last-child {
  margin-right: 0;
}

.nav_link {
  font-family: Inika;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  text-decoration: none;
  color: #010201;
}
.nav_link:active,
.nav_link:hover {
  color: #e06733;
  transition-duration: 200ms;
}

.welcome {
  height: 532px;
  background-color: #edf2ec;
}

.welcome_wrapper {
  max-width: 1222px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.welcome_picture {
  margin-top: 53px;
  margin-left: -5px;
}

.welcome_info {
  display: block;
  margin-top: 98px;
  width: 547px;
  height: 340px;
}
.info_heading {
  margin-left: 1.4px;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
}

span.plants {
  color: #499a18;
}

.info_text {
  font-size: 20px;
  line-height: 35px;
  margin-top: 44px;
  margin-left: 2px;
  margin-bottom: 48px;
  color: #636060;
}

.learn-more_button {
  padding: 10px 27px;
  border: 2px solid #e06733;
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.learn-more_button:hover {
  background-color: #e06733;
  color: #fff;
  transition-duration: 200ms;
}

.about {
  height: 666px;
  background-color: #fff;
}

.about_wrapper {
  margin: 0 auto;
  max-width: 1222px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.about_info {
  display: block;
  margin-top: 160px;
  padding-left: 3px;
  width: 605px;
  height: 350px;
}
.about_heading {
  font-family: Inika;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  color: #499a18;
}

span.professional {
  color: #e06733;
}

.about_text {
  margin-top: 39.5px;
  font-size: 20.1px;
  line-height: 30px;
  color: #636060;
}

.about_picture {
  margin-top: 93px;
  margin-right: -4px;
}

.service {
  height: 1300px;
  background-color: #edf2ec;
}

.service_wrapper {
  margin: 0 auto;
  max-width: 1222px;
}

.service_buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  width: 1007px;
  height: 94px;
}

.service_heading {
  padding-left: 2px;
  width: 306px;
  height: 94px;
  font-family: Inika;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  color: #499a18;
}

.service_list {
  padding-top: 14.5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service_list-button {
  border: 1px solid #e06733;
  border-radius: 5px;
  font-family: Inika;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: #e06733;
}

.service_list-button:hover {
  background-color: #e06733;
  color: #fff;
  transition-duration: 200ms;
}

.service_list-item {
  margin-right: 37.49px;
}
.service_list-item:last-child {
  margin-right: 0;
}

.gardens,
.planting {
  padding: 12px 40px;
}

.planting {
  padding-right: 38px;
}
.gardens {
  padding-right: 43px;
}

.lawn {
  padding: 12px 54px;
}

.gallery {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 55px;
  column-gap: 116.7px;
  height: 955px;

  margin-top: 128px; /* сделал вручную */
}

.card1 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.card2 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}
.card3 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.card4 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.card5 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.card6 {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.card {
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}

.gallery_image {
  width: 329px;
  height: 350px;
  border-radius: 20px 20px 0px 0px;
}

.image_heading {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #e06733;
}

.image_text {
  margin-top: 13.6px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.prices {
  height: 518px;
  background-color: #fff;
}

.prices_wrapper {
  margin: 0 auto;
  max-width: 1222px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 405px;
  margin-top: 40px;
}

.price_menu {
  width: 332px;
  height: 391.01px;
}

.accordion_heading {
  margin-left: 4px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
}
.accordion_price-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 60px;
  width: 332px;
  height: 282.01px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}
.accordion_price {
  width: 250px;
  height: 214.01px;
  margin: 34px 41px;
}
.accordion_tab {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
  width: 250px;
  height: 50px;
  background: #edf2ec;
  border-radius: 20px;
}

.tab_button {
  margin-right: 40px;
}

h2.tab_heading {
  margin-left: 43px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.price_contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 452px;
  height: 405px;
}
.price_contact-header {
  margin-left: 4px;
  width: 452px;
  height: 103px;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: right;
}

span.gardeners {
  color: #499a18;
}

.contact_us-button {
  width: 162px;
  height: 50px;
  margin-top: 37px;
  margin-left: 293px;
  border: 1px solid #e06733;
  border-radius: 5px;
  background-color: #fff;
  font-family: Inika;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #e06733;
  text-align: center;
}

.contact_us-button:hover {
  background-color: #e06733;
  color: #fff;
  transition-duration: 200ms;
}

img.leafs_small {
  margin-top: 39px;
  margin-left: 300px;
  height: 174.991597235703px;
  width: 151.99965524675463px;
}

.contacts {
  height: 550px;
  background-color: #edf2ec;
}

.contacts_wrapper {
  margin: 0 auto;
  max-width: 1222px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.woman_picture {
  margin-top: 53px;
  margin-left: 4px;
}

.contact_us {
  font-family: Inika;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #499a18;
  margin-top: 60px;
  margin-left: 48px;
}

.city_accordion {
  width: 450px;
  height: 50px;
  margin-top: 148px;
  margin-right: -4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #d6e7d2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.city_heading {
  padding-left: 20px;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  text-align: left;
}

.city_button {
  padding-right: 35px;
}

.footer {
  height: 130px;
  background-color: #ffffff;
}

.footer_wrapper {
  margin: 0 auto;
  max-width: 1222px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 39.3px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 172px;
}

.copyright,
.school,
.github_link {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
  color: black;
}

a.school {
  margin-left: 16px;
  color: black;
}

.github_link:visited,
.school:visited {
  color: #000000;
}

.github_link:hover,
.school:hover {
  color: #e06733;
  transition-duration: 200ms;
}

.social_list {
  padding-top: 10px;
  height: 47px;
  width: 181px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social_logo:hover {
  transition-duration: 50ms;
  transform: scale(1.1);
  filter: invert(54%) sepia(50%) saturate(2998%) hue-rotate(339deg)
    brightness(91%) contrast(91%);
}
